
.DS_Store
.AppleDouble
.LSOverride
*/.DS_Store
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
composer.phar
composer.lock
vendor/
bin/
*.iml
.idea/
